@tailwind base;
@tailwind components;
@tailwind utilities;

.anim-opacity {
    animation: anim-opacity 0.33s both 0.1s;
}
@keyframes anim-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.changleColor {
    animation: changleColor 3s both infinite;
}
@keyframes changleColor {
    0% {
        background-color: yellow;
    }
    40% {
        scale: 2;
    }
    90% {
        scale: 1;
    }
    100% {
        background-color: rgb(22, 163, 72);
    }
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 12px;
}

@layer base {
    :root {
        --background: #111111;
        --foreground: #101010;

        --primary: #fdfdfd;
        --primary-foreground: #9e9e9e;

        --secondary: #afb1c2;
        --secondary-foreground: #888888;

        --muted: #6a6a6a;
        --muted-foreground: #6a6a6a;

        --color: #7b7736;
        --color-foreground: #b7af4f;

        --border: #8585852e;
        --input: #141630;
        --ring: #141630;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
}
